## <u>Data Science Using Python</u>

# Module 3: Python Fundamentals

## Demo 3: Strings in Python

You will become familiar with strings in Python and how to use various operations on them in this demo.

**Payal is working on Strings**

In [1]:
# Different ways to initialize strings in python
A="Good"
B="Morning"
C="""Students"""
D='''From 
    Edureka''' #can be multiline
print(A,B,C,D)

Good Morning Students From
    Edureka

**She learns that there are various escape sequences provided in python that can be used to display quotes, newline.**

In [36]:
# Backslash
A='Hello!\nEdurekan'
print(A)
B=input('Cat goes?') # Taking input from user
print('Cats \'%s\''%B) 

print("C:\\Python32\\Lib") # Simple text

Hello!
Edurekan
Cat goes?London
Cats 'London'
C:\Python32\Lib

**Payal now takes names and surnames of all her friends as input, seperated by  ','**

In [38]:
Names=input('Names:').split(',') # Enter two name and seprate them by comma.
print(Names)

Names:arpit,sarvagya
['arpit', 'sarvagya']

In [39]:
# capitalise the initial letter of second name.
print(Names[1].capitalize())

Sarvagya

In [40]:
Surnames=input('Surnames: ').split(',') # Enter surnames for above namea and seprate them by comma.
print(Surnames)

Surnames: pande,malhotra
['pande', 'malhotra']

In [41]:
# The the full name of second friend will be
print(Names[1].capitalize()+' '+Surnames[1].capitalize())

Sarvagya Malhotra

In [20]:
# Let us see some more functions on strings
quote1='''Happiness can be defined, in part at least, 
        as the fruit of the desire and ability to sacrifice 
        what we want now for what we want eventually
     '''
quote2='Sadness is but a wall between two gardens'

print('Quote 1 Startswith \'Happiness\': %s'%quote1.startswith('Happiness'))
print('Quote 2 Startswith \'Happiness\': %s'%quote2.startswith('Happiness'))
print('Quote 1 Endstwith \'gardens\': %s'%quote1.endswith('gardens'))
print('Quote 2 Endsswith \'gardens\': %s'%quote2.endswith('gardens'))

Quote 1 Startswith 'Happiness': True
Quote 2 Startswith 'Happiness': False
Quote 1 Endstwith 'gardens': False
Quote 2 Endsswith 'gardens': True

In [43]:
print('index of \'fruit\': %d'%quote1.index('fruit'))
print(quote1[60:65]) #slicing the strings for 60th to 64th index.
print(quote1[60:])
print(quote1[:60])
print(quote1[::-1]) # reverse of string 
print(quote1[60:-16])

index of 'fruit': 60
fruit
fruit of the desire and ability to sacrifice
        what we want now for what we want eventually

Happiness can be defined, in part at least,
        as the

yllautneve tnaw ew tahw rof won tnaw ew tahw
 ecifircas ot ytiliba dna erised eht fo tiurf eht sa
 ,tsael ta trap ni ,denifed eb nac ssenippaH
fruit of the desire and ability to sacrifice
        what we want now for what we want

In [44]:
quote1.replace('fruit','result')
print(quote1) #no change why? Strings are immutable we need to assign to new one
quote3=quote1.replace('fruit','result')
print(quote3)

Happiness can be defined, in part at least,
        as the fruit of the desire and ability to sacrifice
        what we want now for what we want eventually

Happiness can be defined, in part at least,
        as the result of the desire and ability to sacrifice
        what we want now for what we want eventually

**Payal wants to find out whether the given string is a number or text**

In [47]:
# if its text, she wants to change the case of string.
text=input('String:')
print(text.isnumeric())
print(text.isalpha())

String:hello
False
True

In [48]:
print(text.isupper())
print(text.islower())

False
True

In [54]:
# 'upper' will change the case to uppercase for every character
print(text.upper())

123

In [52]:
text=input('String:')
print(text.isnumeric()) # It will check if input is numeric or not.
print(text.isalpha())

String:123
True
False

In [53]:
dir(str) # Returns valid attributes and methods of the parent class

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

##### Conclusion: This code demonstrates how to create and perform various operations on strings in python.