In [5]:
!pip install pandas

Requirement already satisfied (use --upgrade to upgrade): pandas in /Users/ajithdevadas/anaconda/lib/python2.7/site-packages
Requirement already satisfied (use --upgrade to upgrade): python-dateutil in /Users/ajithdevadas/anaconda/lib/python2.7/site-packages (from pandas)
Requirement already satisfied (use --upgrade to upgrade): pytz>=2011k in /Users/ajithdevadas/anaconda/lib/python2.7/site-packages (from pandas)
Requirement already satisfied (use --upgrade to upgrade): numpy>=1.7.0 in /Users/ajithdevadas/anaconda/lib/python2.7/site-packages (from pandas)
Requirement already satisfied (use --upgrade to upgrade): six>=1.5 in /Users/ajithdevadas/anaconda/lib/python2.7/site-packages (from python-dateutil->pandas)
You are using pip version 7.1.2, however version 23.2.1 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [6]:
!pip3 install pandas

Collecting pandas
  Using cached pandas-2.0.3-cp39-cp39-macosx_10_9_x86_64.whl (11.8 MB)
Requirement already satisfied: python-dateutil>=2.8.2 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.20.3 in /Users/ajithdevadas/Library/Python/3.9/lib/python/site-packages (from pandas) (1.24.3)
Requirement already satisfied: pytz>=2020.1 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from pandas) (2022.7.1)
Collecting tzdata>=2022.1
  Using cached tzdata-2023.3-py2.py3-none-any.whl (341 kB)
Requirement already satisfied: six>=1.5 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Installing collected packages: tzdata, pandas
Successfully installed pandas-2.0.3 tzdata-2023.3
WARNING: You are using pip version 21.2.3; however, version 23.2.1 is available.
You should consider upgrading via the '/Library/Frameworks/Python.framework/Versions/3.9/bin/python3.9 -m pip install --upgrade pip' command.

In [7]:
# Import the required libraries

import pandas as pd
import numpy as np

# 1.1 Create a pandas Series from a list  x = [13, -5, 7, 19]
x = [13, -5, 7, 19]
s1 = pd.Series(x)

# Print the series and observe the default indices created
print(s1)

0    13
1    -5
2     7
3    19
dtype: int64

In [8]:
# Notice that the data type is automatically set for the series as 'int64'

In [9]:
# 1.2 Create a series using a numpy array

y = np.array([23, 3., 7, 11])
s2 = pd.Series(y, index=['a', 'b', 'c', 'd'])

print(s2)

a    23.0
b     3.0
c     7.0
d    11.0
dtype: float64

In [10]:
# Note that indices are specifies at the time of creation.

# Check the data type of the series
s2.dtype

dtype('float64')

In [11]:
# The data type is set as float since one of the values is a float

In [12]:
# 1.3 Get the values and index of the series

print("Values:", s2.values)

print("Index:", s2.index)

Values: [23.  3.  7. 11.]
Index: Index(['a', 'b', 'c', 'd'], dtype='object')

In [13]:
# 1.4 Access the elements of Series

print("Third element: ", s2[2])

print("First two elements:\n")
print(s2[0:2])

print("Element having index 'd':")
print(s2['d'])

Third element:  7.0
First two elements:

a    23.0
b     3.0
dtype: float64
Element having index 'd':
11.0

In [14]:
# 1.5 Assign new values to the elements

s2['a'] = 10

s2[1] = 11
print(s2)

a    10.0
b    11.0
c     7.0
d    11.0
dtype: float64

In [ ]:
Question 2:
From the raw data below create a pandas Series

'Amit', 'Bob', 'Kate', 'A', 'b', np.nan, 'Car', 'dog', 'cat'

1) Print all elements in lower case
2) Print all the elements in upper case    
3) Print the length of all the elements

In [15]:
# 2.1
s = pd.Series(['Amit', 'Bob', 'Kate', 'A', 'b', np.nan, 'Car', 'dog', 'cat'])
print(s.str.lower())

0    amit
1     bob
2    kate
3       a
4       b
5     NaN
6     car
7     dog
8     cat
dtype: object

In [16]:
# 2.2
print(s.str.upper())

0    AMIT
1     BOB
2    KATE
3       A
4       B
5     NaN
6     CAR
7     DOG
8     CAT
dtype: object

In [17]:
print(len(s))

9

In [18]:
print(s.str.len())

0    4.0
1    3.0
2    4.0
3    1.0
4    1.0
5    NaN
6    3.0
7    3.0
8    3.0
dtype: float64

In [ ]:
Question 3:Â¶
From the raw data below create a pandas Series

' Arya', 'John ', ' jack ', 'Sam'

1) Print all elements after stripping spaces from the left and right
2) Print all the elements after removing spaces from the left only
3) Print all the elements after removing spaces from the right only

In [23]:
s = pd.Series([' Arya', 'John ', ' jack ', 'Sam'])
print(s.str.strip())

0    Arya
1    John
2    jack
3     Sam
dtype: object

In [24]:
print(s.str.lstrip())

0     Arya
1    John
2    jack
3      Sam
dtype: object

In [25]:
print(s.str.rstrip())

0     Arya
1     John
2     jack
3      Sam
dtype: object