
<h2><u>Data Science Using Python</u></h2>

# Module 4: Control Flow And Functions

## Demo 2:  Implementing For Loop

In this demo, you will be shown how to perform iteration over list, tuples, string and dictionaries and implementation of Fibonacci series using for loop.

### Perform iteration over list, tuple, strings, and dictionaries

### Step 1: Iterate over a list

In [ ]:
print("List Iteration") 
l = ["Tit", "for", "Tat"] 
for i in l: 
    print(i)

List Iteration
Tit
for
Tat

### Step 2: Iterate over a tuple

In [ ]:
# Iterating over a tuple (immutable) 
print("\nTuple Iteration") 
t = ("Tit", "for", "Tat") 
for i in t: 
    print(i)

Tuple Iteration
Tit
for
Tat

### Step 3: Iterate over a string

In [ ]:
#Iterating over a string
# Taking a string from user
s = input("Enter a string: ")
# checking for palindrome using the for loop
for i in range(0,len(s)//2):
    if(s[i] != s[len(s)-i-1]):
        found = False
        break
else:
    found = True
# Checking whether the given string and reversed string is same
if found:
    print("The string is a palindrome.")
else:
    print("The string is not a palindrome.")

Enter a string: Edureka
The string is not a palindrome.

### Step 4: Iterate over a dictionary

In [ ]:
# Iterating over dictionary 
statesAndCapitals = { 
                     'Goa' : 'Panjim','Maharashtra' : 'Mumbai',
    'Karnataka' : 'Bengaluru','Tamil Nadu' : 'Chennai'
                    } 
                      
print('List Of given states and their capitals:\n') 
  
# Iterating over values 
for state, capital in statesAndCapitals.items(): 
    print(state, ":", capital)

List Of given states and their capitals:

Goa : Panjim
Maharashtra : Mumbai
Karnataka : Bengaluru
Tamil Nadu : Chennai

### Implementation of Fibonacci series using for loop

### Step 1: Take input from user

In [ ]:
# Fibonacci series will start at 0 and continue upto below number
Number = int(input("\nPlease Enter the Range Number for which You Want to Print the Fibonacci Series : "))

Please Enter the Range Number for which You Want to Print the Fibonacci Series : 9

### Step 2: Initialize first and second value from the inputs

In [ ]:
First_Value = 0
Second_Value = 1

### Step 3: Generate and display fibonacci series

In [ ]:
for Num in range(0, Number):
           if(Num <= 1):
                      Next = Num
           else:
                      Next = First_Value + Second_Value
                      First_Value = Second_Value
                      Second_Value = Next
           print(Next)

0
1
1
2
3
5
8
13
21

#### Conclusion: This code demonstrates how to implement for loop.